@charset "utf-8";
@import url(./main.css);
.top {
    background: url(../img/login/log-bg-top.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}
.top-current {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 13px;
}
.login-main-top {
    position: absolute;
    top: 90px;
    bottom: 0;
    right: 15px;
    left: 15px;
    margin: 0 auto;
    text-align: center;
    background: rgb(246,243,242, 0.7);
}
.login-main-top h1 {
    font-size: 56px;
    margin: 60px 0;
}
.bottom {
    background: url(../img/login/log-bg-bottom.jpg) no-repeat 50% 0;
    padding-bottom: 130px;
}
.bottom-title {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 20px;
}
.bottom .login-wrap {
    width: 100%;
    text-align: center;
}
.bottom .form-wrap {
    background: #fff;
    min-width: 460px;
    display: inline-block;
    padding: 32.5px;
    font-size: 14px;
}
.co-login {
    width: 100%;
    display: block;
    height: 40px;
    border: 1px solid #e4dcd3;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 13px;
}
.login-desc {
    text-align: left;
}
.id-save-label {
    margin-top: 15px;
}
.form-wrap p {
    margin: 5px 0;
    color: #626262;
}
.log-btn {
    margin-top: 10px;
    width: 100%;
    border: none;
    background: #3387bd;
    height: 50px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s;
}
.log-btn:hover {
    background: #002884;
}
.co-id-wrap {
    margin-top: 30px;
    text-align: left;
}
hr {
    margin: 10px 0;
}
.register-btn {
    width: 100%;
    height: 50px;
    background: #006992;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.register-manual-btn {
    width: 100%;
    height: 50px;
    background: #444444;
    color: #fff;
    font-size: 16px;

}
.co-id-wrap p {
    margin: 15px 0;
    font-size: 16px;
}
.login-pc-only {
    display: inline-block;
    vertical-align: top;
    margin-left: -5px;
}

/* media */
@media (max-width: 980px) {
    .login-wrap .login-pc-only {
        display: none;
    }
    .login-wrap .form-wrap {
        width: 90%;
    }
}