@charset "utf-8";
@import url(./reset.css);
header {
    border-bottom: 1px solid #dedede;
    margin-bottom: 30px;
}
.head-top {
    width: 100%;
    height: 7px;
    background: #012D5E;
}
.header-wrap {
    margin: 0 auto;
    max-width: 400px;
}
/* login */
section {
    max-width: 400px;
    margin: 0 auto;
}
.log-in {
    font-size: 12px;
    color: #666;
}
.email-log {
    font-size: 12px;
}
.log-in .email-log:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #999;
    margin-right: 5px;
}
.log-in .email-id {
    width: 100%;
    border: 1px solid #ced4da;
    height: 40px;
    padding: 10px 12px;
    margin: 5px 0;
    box-shadow: none;
    outline: none;
    transition: all .3s;
}
.email-id::placeholder {
    color: #ccc;
}
.email-id:focus {
    border: 1px solid #00a7cf;
}
.log-btn {
    margin-top: 10px;
    width: 100%;
    border: none;
    background: #3387bd;
    height: 55px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all .2s;
}
.log-btn:hover {
    background: #002884;
}
/* find */
.find {
    font-size: 13px;
    color: #666;
    text-align: center;
    margin: 10px auto;
}
.find a{
    color: #006ca4;
}
.find span{
    display: inline-block;
    margin-top: 10px;
}
/* social */
.social-log {
    margin-top: 70px;
    margin-bottom: 25px;
}
.social-log-title {
    font-size: 12px;
    color: #666;
}
.social-log .social-log-title::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #999;
    margin-right: 5px;
}
.social-log-img img {
    margin-top: 10px;
    margin-right: 15px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
}
/* footer */
footer {
    border-top: 1px solid #dedede;
}
.footer-wrap {
    text-align: center;
    max-width: 400px;
    margin: 25px auto;

}
.footer-wrap a{
    color: #006ca4;
    font-size: 13px;
}
.footer-wrap select {
    margin-left: 20px;
    width: 110px;
    height: 25px;
    border: 1px solid #ddd;
    outline: none;
    color: #666;
    appearance: none;
    padding-left: 5px;
}
.footer-wrap p {
    margin-top: 5px;
    font-size: 11px;
    color: #666;
}
