@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: top;
}
button {
    background: #fff;
    border: none;
    cursor: pointer;
    
}